<div class="login-form container my-5 p-4 bg-light rounded shadow bg-body-dark bg-dark" data-bs-theme="dark">
  <h2 class="text-center">Login</h2>

  <!-- Dynamic Error Message Display -->
  <% if(locals.successMessage) { %>
    <div class="alert alert-success" role="alert">
      <%= locals.successMessage %>
    </div>
  <% } %>

  <% if(locals.errorMessage) { %>
    <div class="alert alert-warning" role="alert">
      <%= locals.errorMessage %>
    </div>
  <% } %>

  <form action="/login" method="post">
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp"/>
      <div id="emailHelp" class="form-text">
        We'll never share your email with anyone else.
      </div>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" name="password" />
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="check" />
      <label class="form-check-label" for="check">Accept the terms and conditions to proceed</label>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-warning px-4 py-2">Login</button>
    </div>

    <!-- Login link -->
    <div class="text-center mt-3">
      <p class="text-white-50">Still not on easily?
        <a href="/register" class="text-warning text-decoration-none">Register</a>
      </p>
    </div>
  </form>
</div>
